In [1]:
import pandas as pd

### Loading Data

In [2]:
fuel_econ = pd.read_csv('datasets/fuel_econ.csv')

In [3]:
pokemon = pd.read_csv('datasets/pokemon.csv')

# Day 1 / 100

In [4]:
fuel = fuel_econ['fuelType']

In [5]:
fuel

0       Premium Gasoline
1       Premium Gasoline
2       Premium Gasoline
3       Premium Gasoline
4       Regular Gasoline
              ...
3924    Regular Gasoline
3925    Regular Gasoline
3926    Regular Gasoline
3927    Premium Gasoline
3928    Premium Gasoline
Name: fuelType, Length: 3929, dtype: object

In [6]:
fuel.shape

(3929,)

##### Frequency

In [7]:
fuel.value_counts()

Premium Gasoline     2302
Regular Gasoline     1521
Diesel                 80
Midgrade Gasoline      23
Natural Gas             3
Name: fuelType, dtype: int64

##### relative frequency

In [8]:
fuel.value_counts(normalize=True)

Premium Gasoline     0.585900
Regular Gasoline     0.387121
Diesel               0.020361
Midgrade Gasoline    0.005854
Natural Gas          0.000764
Name: fuelType, dtype: float64

In [9]:
fuel.value_counts() / fuel.shape[0]

Premium Gasoline     0.585900
Regular Gasoline     0.387121
Diesel               0.020361
Midgrade Gasoline    0.005854
Natural Gas          0.000764
Name: fuelType, dtype: float64

# Day 2/100

In [10]:
type_2 = pokemon['type_2']

##### The total number of values (including null values) in the Series

In [11]:
type_2.shape

(807,)

##### Checking for null values using `hasnans`

In [12]:
type_2.hasnans

True

##### Compute the number of null values

In [13]:
(type_2
    .isna()
    .sum())

402

##### Compute the percentage of null values

In [14]:
(type_2
    .isna()
    .mean())

0.49814126394052044

##### `count` method, `size` property, `len` function

In [15]:
type_2.shape

(807,)

In [16]:
type_2.count()

405

In [17]:
type_2.size

807

In [18]:
len(type_2)

807

# Day 3/100

In [19]:
fuel_econ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3929 entries, 0 to 3928
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         3929 non-null   int64
 1   make       3929 non-null   object
 2   model      3929 non-null   object
 3   year       3929 non-null   int64
 4   VClass     3929 non-null   object
 5   drive      3929 non-null   object
 6   trans      3929 non-null   object
 7   fuelType   3929 non-null   object
 8   cylinders  3929 non-null   int64
 9   displ      3929 non-null   float64
 10  pv2        3929 non-null   int64
 11  pv4        3929 non-null   int64
 12  city       3929 non-null   float64
 13  UCity      3929 non-null   float64
 14  highway    3929 non-null   float64
 15  UHighway   3929 non-null   float64
 16  comb       3929 non-null   float64
 17  co2        3929 non-null   int64
 18  feScore    3929 non-null   int64
 19  ghgScore   3929 non-null   int64
dtypes: float64(6), int64(8), object(6)
memory usage: 614.0+ KB

In [20]:
fuel_econ.select_dtypes(include=['object']).head(3)

,make,model,VClass,drive,trans,fuelType
0,Nissan,GT-R,Subcompact Cars,All-Wheel Drive,Automatic (AM6),Premium Gasoline
1,Volkswagen,CC,Compact Cars,Front-Wheel Drive,Automatic (AM-S6),Premium Gasoline
2,Volkswagen,CC,Compact Cars,Front-Wheel Drive,Automatic (S6),Premium Gasoline

In [21]:
fuel_econ.select_dtypes(exclude=['object', 'int64']).head(3)

   displ     city    UCity  highway  UHighway     comb
0    3.8  16.4596  20.2988  22.5568   30.1798  18.7389
1    2.0  21.8706  26.9770  31.0367   42.4936  25.2227
2    3.6  17.4935  21.2000  26.5716   35.1000  20.6716